#LoginScreen {
}

#line {
}

#stackedWidget {
}

#labelNewProfile,
#labelLoadProfile {
  border-style: solid;
  border-width: 15px 0 15px 15px;
}
#labelNewProfile {
  margin-top:125px;
  margin-bottom:45px;
}
#labelLoadProfile {
  margin-top:165px;
  margin-bottom:5px;
}

LoginScreen > QPushButton,
QStackedWidget QPushButton
{
  border: none;
  font-size: 9pt;
  font-weight: bold;
}

#loginButton,
#importButton,
#createAccountButton {
  border-radius:5px;
  padding:5px;
}

#loginButton:hover,
#importButton:hover,
#createAccountButton:hover {
}

QLabel, QCheckBox, QProgressBar {
}

QCheckBox:disabled {
}
