QTextEdit {
	border-style: solid;
	border-width: 1px 0 1px 1px;
}

QTextEdit:hover {
}

QTextEdit:pressed {
}

QTextEdit#group {
	/*border-radius: 0 6px 6px 0; would use to round corners in groupchat, but Qt's implementation seems to be bugged*/
	border: 1px solid #c4c1bd;
}

QTextEdit#group:hover {
}

QTextEdit#group:pressed {
}
