
QMainWindow {
    background-color: white;
}

AdjustingScrollArea#friendList {
    background-color: white;
}
QLineEdit#searchContactText {
    border: none;
}
#qt_scrollarea_viewport-- {
    background-color: white;
}
FriendListWidget-- {
    background-color: white;
}
QFrame#statusPanel-- {
    background-color: white;
}

/*******************/
GroupWidget {
    background-color: none;
}

GroupWidget[selected=true] {
    background-color: #38a3d8;
}

GroupWidget {
    background-color: white;
}

GroupWidget[mouse-hover=true] {
    background-color: #eeeeee;
}

GroupWidget {
    background-color: white;
}

/****************/
FriendWidget {
    background-color: none;
}

FriendWidget[selected=true] {
    background-color: #38a3d8;
}

FriendWidget {
    background-color: white;
}

FriendWidget[mouse-hover=true] {
    background-color: #eeeeee;
}

FriendWidget {
    background-color: white;
}

/********************/
QWidget#circleWidgetContainer:hover
{
    background-color: #eeeeee;
}
QWidget#circleWidgetContainer
{
    background-color: white;
}

/*********************/
QToolButton {
    qproperty-autoRaise: true;
}

QPushButton {
    qproperty-flat: true;
}

/* Header */

QAbstractButton#volButton
{
    border-image: url(":/ui/chatForm/volButton.svg");
    border-radius: 5px;
    width: 22px;
    height: 18px;
}

QAbstractButton#micButton
{
    border-image: url(":/ui/chatForm/micButton.svg");
    border-radius: 5px;
    width: 22px;
    height: 18px;
}

QAbstractButton#videoButton
{
    background-image: url(":/ui/chatForm/videoButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

QAbstractButton#callButton
{
    background-image: url(":/ui/chatForm/callButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

/* Message edit */

QAbstractButton#emoteButton
{
    background-image: url(":/ui/chatForm/emoteButton.svg");
    border-top-right-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#fileButton
{
    background-image: url(":/ui/chatForm/fileButton.svg");
    border-bottom-right-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#screenshotButton
{
    background-image: url(":/ui/chatForm/screenshotButton.svg");
    border-top-left-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#sendButton
{
    background-image: url(":/ui/chatForm/sendButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 50px;

}

/******************/
ChatLog {
    background-color: white;
    border: 0px;
}
