QPushButton
{
    background-image: url(":/ui/fileButton/fileButton.svg");
    background-repeat: none;
    background-position: center;
    border-bottom-right-radius: 5px;
    border: none;
    width: 24px;
    height: 24px;
}

QAbstractButton:hover
{
}

QPushButton:pressed
{
}

QPushButton[enabled="false"]
{
}

QPushButton:focus {
    outline: none;
}
