
QMainWindow {
    background-color: black;
    color: white;
}

AdjustingScrollArea#friendList {
    background-color: black;
}
QLineEdit#searchContactText {
    border: none;
    background-color: black;
    color: white;
}
ChatTextEdit {
    background-color: black;
    color: white;
}

/**** test ****/

#qt_scrollarea_viewport-- {
    background-color: white;
}
FriendListWidget-- {
    background-color: white;
}
QFrame#statusPanel-- {
    background-color: white;
}


QLabel {
    color: white;
}
/*******************/
GroupWidget {
    background-color: black;
    margin-left: 12px;
}

GroupWidget[selected=true] {
    background-color: #38a3d8;
}

GroupWidget[mouse-hover=true] {
    background-color: #414141;
}


/****************/
FriendWidget {
    background-color: black;
    margin-left: 8px;
}

FriendWidget[selected=true] {
    background-color: #38a3d8;
}

FriendWidget[mouse-hover=true] {
    background-color: #414141;
}

/********************/
QWidget#circleWidgetContainer:hover
{
    background-color: #414141;
}
QWidget#circleWidgetContainer
{
    background-color: black;
    margin-left: 12px;
}

/*********************/
QToolButton {
    qproperty-autoRaise: true;
    color: white;
}

QPushButton {
    qproperty-flat: true;
    color: white;
}

QCheckBox {
    color: white;
}

QLineEdit {
    background-color: black;
    color: white;
}

QTextEdit {
    background-color: black;
    color: white;
}

QComboBox {
    background-color: black;
    color: white;
}

QSpinBox {
    background-color: black;
    color: white;
}

QMenu {
    background-color: black;
    color: white;
}

/* Header */

QAbstractButton#volButton
{
    border-image: url(":/ui/chatForm/volButton.svg");
    border-radius: 5px;
    width: 22px;
    height: 18px;
}

QAbstractButton#micButton
{
    border-image: url(":/ui/chatForm/micButton.svg");
    border-radius: 5px;
    width: 22px;
    height: 18px;
}

QAbstractButton#videoButton
{
    background-image: url(":/ui/chatForm/videoButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

QAbstractButton#callButton
{
    background-image: url(":/ui/chatForm/callButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

/* Message edit */

QAbstractButton#emoteButton
{
    background-image: url(":/ui/chatForm/emoteButton.svg");
    border-top-right-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#fileButton
{
    background-image: url(":/ui/chatForm/fileButton.svg");
    border-bottom-right-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#screenshotButton
{
    background-image: url(":/ui/chatForm/screenshotButton.svg");
    border-top-left-radius: 5px;
    width: 24px;
    height: 24px;
}

QAbstractButton#sendButton
{
    background-image: url(":/ui/chatForm/sendButton.svg");
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

QAbstractButton#addButton
{
    background-image: url(./skins/dark/img/add.svg);
    border-radius: 5px;
    width: 50px;
    height: 35px;
}

QAbstractButton#groupButton
{
    background-image: url(./skins/dark/img/group.svg);
    border-radius: 5px;
    width: 50px;
    height: 35px;
}

QAbstractButton#transferButton
{
    background-image: url("./skins/dark/img/transfer.svg");
    border-radius: 5px;
    width: 50px;
    height: 35px;
}

QAbstractButton#settingsButton
{
    background-image: url("./skins/dark/img/settings.svg");
    border-radius: 5px;
    width: 50px;
    height: 35px;
}

/* Common */

QAbstractButton
{
    background-repeat: none;
    background-position: center;
    border: none;
}

QAbstractButton:disabled
{
    background-color: #919191;
}

QAbstractButton:focus
{
    outline: none;
}

QAbstractButton[state="green"]
{
    background-color: #6bc260;
}

QAbstractButton[state="green"]:hover
{
    background-color: #79c76f;
}

QAbstractButton[state="green"]:pressed
{
    background-color: #51b244;
}

/******************/
ChatLog {
    border: 0px;
}
QGraphicsView {
    qproperty-backgroundBrush: black;
    qproperty-foregroundBrush: none;
}
QGraphicsItem {
    
}
Text {

}
ChatLog > QWidget {

}

/*******************/
/* ScrollBar */
QScrollBar:vertical {
    border: 0px solid grey;
    background: #efefef;
    width: 8px;
    margin: 0px 0 0px 0;
}
QScrollBar::handle:vertical {
    background: #ccc;
    min-height: 2px;
}
QScrollBar::add-line:vertical {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/************/
QScrollBar:horizontal {
    border: 0px solid grey;
    background: #efefef;
    height: 8px;
    margin: 0px 0 0px 0;
}
QScrollBar::handle:horizontal {
    background: #ccc;
    min-height: 2px;
}
QScrollBar::add-line:horizontal {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

/***********************/
QTabWidget {
    background-color: black;
}
QStackedWidget {
    background-color: black;
}
QGroupBox {
    background-color: black;
}

VerticalOnlyScroller {
    border-style: none;
}
QWidget#scrollAreaWidgetContents  {
}

QWidget#scrollAreaWidgetContents > QGroupBox {
    
}

