[fontColor="white"] QLabel {
	font:@big;
}

[fontColor="black"] QLabel {
	font:@big;
}

QPushButton {
	margin:0;
        border: none;
}



QProgressBar {
	border: 2px solid @mediumGrey;
	border-radius: 0px;
}

QProgressBar::chunk {
	width: 1px;
}