body {
    font: @baseFont;
}

p {
    white-space: pre-wrap;
}

.action {
    font-style: italic;
}

.typing {
}

.quote {
}

.alert {
    margin-left: 0px;
    margin-right: 0px;
}

.alert_name {
    font: @bigBold;
}

a {
}
