#default {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#error {
	border-radius: 6px;
}

#success {
	border-radius: 6px;
}

QProgressBar {
     border: 1px solid rgb(150,150,150);
     height: 11px;
 }

 QProgressBar::chunk {
     width: 2px;
 }